SECRET_KEY=change-moi-en-production
DEBUG=True
ALLOWED_HOSTS=*

# Mettre USE_MYSQL=True pour utiliser MySQL via XAMPP au lieu de SQLite.
USE_MYSQL=False
MYSQL_DATABASE=gestion_universite
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
